.formRow {
  display: flex;
  gap: 16px;
}

.leftCol {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
